In [49]:
import pandas as pd
import scipy as sp
import sklearn as skl
import numpy as np
import matplotlib as mtplt
%matplotlib inline
import tensorflow as tf

In [50]:
bdmg = pd.read_csv('../files/blade_damage_assessment.csv', low_memory=False)
bdmgtest = pd.read_csv('../files/blade_damage_assessment_test.csv', low_memory=False)

In [51]:
bdmg.head(5)

,engine_id,customer,engine_type,category,damage,flight_id,t_1,t_2,t_3,t_4,t_oil,p_oil,vibrations_2,vibrations_4,core_speed,fan_speed,thrust
0,700000,ACC,EX-50B,non-failed,38,1,27.169333,97.409398,568.554307180454,800.617771526119,73.664163,59.755336,0.0844030348911414,0.288484308226124,103.988490040037,86.759646,43824.077117
1,700000,ACC,EX-50B,non-failed,38,2,34.423444,131.146137,709.525734761479,904.861162536342,83.995234,91.238090,0.11583599227328,0.260483903090653,110.245548851895,92.174964,48131.620917
2,700000,ACC,EX-50B,non-failed,38,3,21.498867,95.264770,554.715309731843,779.022122640642,88.876758,99.558113,0.146035417636678,0.283297051916144,103.556756846575,88.105862,43676.985766
3,700000,ACC,EX-50B,non-failed,38,4,19.168106,82.892583,526.308476851884,757.484591914129,75.986135,102.696245,0.805832251423062,0.139379412491953,102.115886237848,85.823801,42946.711363
4,700000,ACC,EX-50B,non-failed,38,5,15.651451,88.250109,639.345044901446,814.660706963478,83.866920,96.889143,0.314611446543913,-0.00690196872612958,107.04135764277,90.942846,46685.678299

In [52]:
#pre clean - all na
totorg = bdmg.shape[0]
org= bdmg.shape[0]
bdmg.dropna(how='all') #drop all rows that all columns are NA
fin = bdmg.shape[0]
del1 = org - fin
print('deleted rows'+ str(del1))

deleted rows0

In [53]:
# data clean 1 - temperatures
org= bdmg.shape[0]
#bdmg["t_3"] = bdmg["t_3"].astype(str).convert_objects(convert_numeric=True)
bdmg["t_3"] = pd.to_numeric(bdmg["t_3"],errors="coerce")
bdmg["t_4"] = pd.to_numeric(bdmg["t_4"],errors="coerce")
bdmg.dropna(subset=['t_3'])
bdmg.dropna(subset=['t_4'])

bdmg = bdmg.drop(bdmg[bdmg.t_1 < -273].index)
bdmg = bdmg.drop(bdmg[bdmg.t_2 < -273].index)
bdmg = bdmg.drop(bdmg[bdmg.t_3 < -273].index)
bdmg = bdmg.drop(bdmg[bdmg.t_4 < -273].index)
bdmg = bdmg.drop(bdmg[bdmg.t_oil < -273].index)
fin = bdmg.shape[0]
del2 = org - fin
print('deleted rows'+ str(del2))

deleted rows299

In [54]:
#data clean 2 - speeds & thrust
org= bdmg.shape[0]

bdmg['core_speed'] = pd.to_numeric(bdmg['core_speed'],errors='coerce')
bdmg['fan_speed'] = pd.to_numeric(bdmg['core_speed'],errors='coerce')
bdmg['thrust'] = pd.to_numeric(bdmg['thrust'],errors='coerce')
bdmg.dropna(subset=['core_speed'])
bdmg.dropna(subset=['fan_speed'])
bdmg.dropna(subset=['thrust'])

bdmg = bdmg.drop(bdmg[bdmg.core_speed < 0].index)
bdmg = bdmg.drop(bdmg[bdmg.fan_speed < 0].index)
bdmg = bdmg.drop(bdmg[bdmg.thrust < 0].index)

fin = bdmg.shape[0]
del3 = org -fin
print('deleted rows'+ str(del3))

deleted rows186

In [55]:
#data clean 3 - preasure
org= bdmg.shape[0]

bdmg['p_oil'] = pd.to_numeric(bdmg['p_oil'],errors='coerce')
bdmg.dropna(subset=['p_oil'])

bdmg = bdmg.drop(bdmg[bdmg.p_oil < 0].index)

fin = bdmg.shape[0]
del4 = org -fin
print('deleted rows'+ str(del4))

deleted rows0

In [57]:
#data clean 4 - vibrations
org= bdmg.shape[0]

bdmg['vibrations_2'] = pd.to_numeric(bdmg['vibrations_2'],errors='coerce')
bdmg.dropna(subset=['vibrations_2'])
bdmg['vibrations_4'] = pd.to_numeric(bdmg['vibrations_4'],errors='coerce')
bdmg.dropna(subset=['vibrations_4'])

fin = bdmg.shape[0]
del5 = org -fin
print('deleted rows'+ str(del5))

print('deleted rows' + str(del1+del2+del3+del4+del5))
print('percentage deleted rows '+str(((del1+del2+del3+del4+del5)/totorg)*100 ) +'%')

deleted rows0
deleted rows485
percentage deleted rows 0.02472728607583578%